img {
    position: relative;
    width: 300px;
    height: 400px;
    padding-left: 35px;
    padding-right: 35px;
}
figcaption {
    padding: 35px;
    text-align: center;
    word-wrap: normal;
}
figure {
    display: inline-block;
}